body {
  background-image: url('../lib/cardtable.jpg');
}

.container {
  float: left;
  width: 100px;
  height: 140px;
  position: relative;
  -webkit-perspective: 800;
}

.card {
  border: solid 1px black;
  border-radius: 5px;
  /*margin-right: 20px;*/
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  /*background-size: 100px 140px;*/
}

.card figure {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-backface-visibility: hidden;
}

.card .front {
  background-image: url('../lib/cards/back.png');
}

.card .back {
  background-image: url('../lib/cards/back.png');
  background-size: 100px 140px;
  -webkit-transform: rotateY(180deg);
}

.flipped {
  -webkit-transform: rotateY(180deg);
}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
}

.player-status {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: .5em;
  width: 90%;
  opacity: .85;
  background: #fff0bf;
  border: 1px solid #DDD;
}

.winner {
  background: #e5fde4;
}

.loser {
  background: #ffd9d9;
}