body {
  /*background-image: url('../lib/cardtable.jpg');*/
}

.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
}

.player-status {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: .5em;
  width: 90%;
  opacity: .85;
  background: #fff0bf;
  border: 1px solid #DDD;
}

.winner {
  background: #e5fde4;
}

.loser {
  background: #ffd9d9;
}